{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse; width: 100%;}

#customers td, #customers th {
  border: 1px solid #ddd; padding: 8px;}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px; padding-bottom: 12px;
  text-align: left; background-color: #04AA6D;
  color: white;}
</style>
    <table id="customers">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Film</th>
                <th>DateDebut</th>
                <th>Langue</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
            </tr>
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.Film.title }}</td>
                <td>{{ seance.dateDebut ? seance.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seance.langue }}</td>
                <td>{{ seance.createdAt ? seance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seance.updateAt ? seance.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                   <td> <a href="{{ path('seance_index') }}">back to list</a></td>
                   <td> <a href="{{ path('seance_edit', {'id': seance.id}) }}">edit</a></td>
            </tr>
        </tbody>
    </table>
    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
