{% extends "base.html.twig" %} 

{% block title %}  Films {% endblock %}

{% block body %}<br><br>

<div class="cen"> Voici les  films disponibles </div>

  {% if Films | length == 0 %}  
    Pas de Films disponible
   {% endif %}


   {% for Film in Films %}  
<table id="customers">
   <tr>
    <th>Titre</th>
    <th>Realisateur</th>
    <th>Description</th>
    <th>Genre</th>
  </tr>
  <tr>
    <td>{{ Film.Title }}</td>
    <td>{{ Film.Realisator }}</td>
    <td>{{ Film.Description }}</td>
    <td>{{ Film.Genre }}</td>
  </tr>
  <tr>
    <td>   <a href="{{ path('update_films' , { 'id' : Film.id } ) }}">Editer</a></td>
    <td>   <a href="{{ path('delete_films' , { 'id' : Film.id } ) }}" onclick="return confirm('Vous etez sur de supprimer le Film ?')">Supprimer</a></td>
    <td>   <a href="{{ path('description_films' , { 'id' : Film.id } ) }}">Description</a></td>
  </tr>
</table>
{% endfor %}

{% endblock %}






