{% extends 'base.html.twig' %}

{% block body %}
<div>vous avez {{ age }} ans</div>
<div>vous avez {{ age }} ans</div>
<div>vous avez {{ age }} ans</div>
<div>vous avez {{ age }} ans</div>
<div>vous avez {{ age }} ans</div>
<div>vous avez {{ age }} ans</div>
{% endblock %}



