{% block title %}

{% if (isEditor) %} 
    Modifier Film
{% else %} 
    Ajout Film
{% endif  %} 
{% endblock %}

{% block body %}

{% if (isEditor) %} 
    <div id="cen"> Formulaire édition de Film </div>
{% else %} 
    <div> Formulaire d'ajout de Film </div>
{% endif  %} 

    {{ form_start(form) }}
    <div>
        {{ form_row(form.title , {'label' : 'Title :'}) }}
        
    </div>
    <div>
        {{ form_row(form.Realisator , {'label' : 'Realisator :'}) }}
    </div>
     <div>
        {{ form_row(form.genre, {'label' : 'Genre :'}) }}
    </div>
    <div>
        {{ form_row(form.Description, {'label' : 'Description :'}) }}
    </div>
    <div>
        {{ form_row(form.status, {'label' : 'status :'}) }}
    </div>
    <div>
        {{ form_row(form.dure, {'label' : 'durée (en minutes):'}) }}
    </div>
     <div >
        {% if (isEditor) %} 
            {{ form_row(form.save, {'label' : 'Edit :'}) }} 
        {% else %} 
            {{ form_row(form.save, {'label' : 'Save :'}) }}
        {% endif  %} 
    </div>
    {{ form_end(form) }}

{% endblock %}

